<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LawAssist</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-4 mb-2 mb-lg-0 d-flex justify-content-end">
          <li class="nav-item mx-4">
            <a class="nav-link" aria-current="page" href="/index/">Home</a>
          </li>
          <li class="nav-item mx-4 dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/simplify/">Simplify legal docs</a></li>
              <li><a class="dropdown-item" href="/cbt/">Seek legal assistance</a></li>
              <li><a class="dropdown-item" href="/slot_booking/">Slot Booking</a></li>
            </ul>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="/about/">About</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="/faq/">FAQs</a>
          </li>
          <li class="nav-item mx-4 dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/handleLogout/">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>