/* Add this CSS code to your styles1.css file */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

table tr td {
    padding: 10px;
    font-size: 16px;
    color: #555;
}

span {
    font-weight: bold;
    color: #000;
}

#bookingStatus::before {
    content: "\2714"; /* Unicode checkmark character */
    font-size: 24px;
    color: #00cc00; /* Green color */
    margin-right: 5px;
}
